* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #eff0f1;
  padding: 0;
  margin: 0; }

.breadcrumb {
  width: 100%;
  font-size: 0.813rem;
  margin: 25px 0 2% 25px; }
  @media (max-width: 520px) {
    .breadcrumb {
      text-align: center; } }
  .breadcrumb a {
    color: #5b5b5b;
    text-decoration: underline; }
    .breadcrumb a:last-child {
      text-decoration: none; }
    .breadcrumb a:after {
      content: ">";
      display: inline-block;
      font-size: 0.813rem;
      text-decoration: none;
      color: #222222;
      margin: 0 0.5%; }
    .breadcrumb a:last-child:after {
      display: none; }

.bxslider {
  position: relative; }

body.hp {
  background: url("../img/hp-bg.png") no-repeat;
  background-size: cover; }
  @media (max-width: 670px) {
    body.hp {
      background-image: none;
      background: #bfbfbf; } }

header {
  width: 100%;
  background: #ffffff; }
  header .logo {
    margin-top: 35px;
    margin-right: 10%;
    float: left; }
    @media (max-width: 1530px) {
      header .logo {
        margin-right: 3%; } }
    @media (max-width: 1445px) {
      header .logo {
        width: 100%;
        text-align: center; } }
    header .logo p {
      position: relative;
      bottom: 7px;
      font-size: 0.875rem;
      display: inline-block;
      text-transform: uppercase;
      color: #a5a5a5; }

header .cart-dropdown {
  cursor: pointer;
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background: #e63624;
  border-radius: 50%;
  padding-top: 3px;
  margin-left: 25px;
  float: right; }
header .dropdown-pane {
  width: 590px !important;
  top: 110px !important;
  left: 117px !important;
  box-shadow: 5px 5px 5px #777777;
  border: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 1445px) {
    header .dropdown-pane {
      left: auto !important;
      right: 2%; } }
  @media (max-width: 590px) {
    header .dropdown-pane {
      width: 90% !important;
      right: auto !important;
      left: 0 !important;
      margin: 0 5%; } }
  header .dropdown-pane h3 {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background: #1c64a3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2%;
    margin: 0; }
  header .dropdown-pane .cart__content {
    position: relative;
    padding: 4%; }
    header .dropdown-pane .cart__content:before {
      content: "";
      position: absolute;
      left: 53%;
      top: -52px;
      display: block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #1c64a3; }
      @media (max-width: 620px) {
        header .dropdown-pane .cart__content:before {
          display: none; } }
    header .dropdown-pane .cart__content h4 {
      font-size: 1.250rem;
      color: #434546;
      margin: 10px 0 0 0; }
    header .dropdown-pane .cart__content p {
      position: relative;
      bottom: 35px;
      font-size: 1rem;
      color: #434546;
      float: left; }
      @media (max-width: 620px) {
        header .dropdown-pane .cart__content p {
          width: 100%; } }
    header .dropdown-pane .cart__content span {
      font-size: 1rem;
      float: right; }
      header .dropdown-pane .cart__content span strong {
        font-size: 1.250rem; }
      @media (max-width: 620px) {
        header .dropdown-pane .cart__content span {
          width: 100%; } }
    header .dropdown-pane .cart__content a {
      position: absolute;
      top: 0;
      right: 0; }
  header .dropdown-pane .cart__content__item {
    position: relative;
    width: 100%; }
    @media (max-width: 620px) {
      header .dropdown-pane .cart__content__item {
        text-align: center; } }
  header .dropdown-pane .cart__content__item__img {
    max-width: 70px;
    max-height: 70px;
    padding: 2px;
    margin-right: 1%;
    float: left; }
    header .dropdown-pane .cart__content__item__img img {
      width: auto;
      height: auto; }
    @media (max-width: 620px) {
      header .dropdown-pane .cart__content__item__img {
        width: 100%;
        text-align: center;
        float: none; } }
  header .dropdown-pane .cart-total {
    font-size: 1rem;
    font-weight: bolder;
    color: #212121;
    border-top: 1px solid #e6e6e6;
    padding: 25px 4% 0 4%; }
    @media (max-width: 620px) {
      header .dropdown-pane .cart-total {
        text-align: center; } }
    header .dropdown-pane .cart-total span {
      position: relative;
      bottom: 5px;
      float: right; }
      @media (max-width: 620px) {
        header .dropdown-pane .cart-total span {
          display: inline-block;
          float: none; } }
    header .dropdown-pane .cart-total form {
      display: inline-block;
      float: right; }
    header .dropdown-pane .cart-total input[type="submit"] {
      position: relative;
      bottom: 10px;
      display: inline-block;
      font-size: 0.875rem;
      font-weight: bold;
      color: #ffffff;
      background: #e63624;
      transition: 200ms;
      border: none;
      border-radius: 5px;
      padding: 10px 4%;
      margin-left: 7%;
      float: right; }

header .inner-wrapper {
  width: 100%;
  max-width: 1712px;
  margin: auto; }
  @media (max-width: 1712px) {
    header .inner-wrapper {
      padding: 0 2%; } }

header .contact {
  font-size: 0.813rem;
  text-align: center;
  color: #303030;
  background: url("../img/header-contact-bg.png") 100% 50% no-repeat;
  margin-top: 35px;
  float: right; }
  @media (max-width: 1445px) {
    header .contact {
      background-image: none;
      float: right; } }
  @media (max-width: 1110px) {
    header .contact {
      width: 100%;
      float: left; } }
  header .contact p {
    text-transform: uppercase; }
  header .contact span {
    display: block;
    font-size: 1.125rem;
    text-transform: none;
    color: #303030; }
    header .contact span strong {
      font-size: 1rem;
      font-weight: bolder; }
    header .contact span a {
      color: #303030; }

.navigation {
  float: left; }
  @media (max-width: 1445px) {
    .navigation {
      float: left; } }
  @media (max-width: 1110px) {
    .navigation {
      width: 100%; } }
  .navigation ul {
    display: block;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 1110px) {
      .navigation ul {
        width: 90%;
        margin: 0 5%; } }
    @media (max-width: 1050px) {
      .navigation ul {
        width: 95%;
        text-align: center;
        margin: 0 2.5%; } }
    @media (max-width: 820px) {
      .navigation ul {
        width: 60%;
        margin: 0 20%; } }
    .navigation ul li {
      display: inline-block;
      padding: 45px 20px; }
      @media (max-width: 1445px) {
        .navigation ul li {
          padding: 10px 5px;
          margin-top: 25px; } }
      @media (max-width: 1110px) {
        .navigation ul li {
          padding: 10px 2%;
          margin-top: 40px; } }
      @media (max-width: 820px) {
        .navigation ul li {
          display: block;
          padding: 5px 0;
          margin-top: 10px; } }
      .navigation ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #303030; }
    .navigation ul .active {
      position: relative;
      font-weight: bolder;
      background: #1c64a3; }
      .navigation ul .active a {
        color: #ffffff; }
      .navigation ul .active:after {
        content: "";
        position: absolute;
        right: 45%;
        bottom: -7px;
        display: block;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #1c64a3; }
    .navigation ul .step-finished a {
      color: rgba(48, 48, 48, 0.8); }
      .navigation ul .step-finished a:after {
        content: "";
        position: relative;
        top: 7px;
        left: 5px;
        display: inline-block;
        width: 27px;
        height: 27px;
        background: url("../img/step-finished.png") no-repeat;
        margin: 0 5px; }

.hp-content {
  width: 100%;
  max-width: 655px;
  margin: 110px auto; }

.tabs {
  background: none;
  border: none; }
  .tabs a {
    font-size: 1rem;
    color: #1c64a3; }

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"], .tabs-title > a[aria-selected="false"] {
  background: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 3%; }

.tabs-title > a[aria-selected="false"] {
  position: relative;
  top: 7px; }

#panel1 {
  background: url(../img/hp-form-bg.png) 100% 100% no-repeat; }

.content {
  width: 100%;
  max-width: 1712px;
  margin: auto; }
  @media (max-width: 1712px) {
    .content {
      padding: 0 2%; } }

.content .content__left {
  width: 18%;
  margin-right: 1.5%;
  float: left; }
  @media (max-width: 1395px) {
    .content .content__left {
      width: 100%;
      margin-right: 0; } }
.content .content__right {
  width: 80.5%;
  float: right; }
  @media (max-width: 1395px) {
    .content .content__right {
      width: 100%; } }
  .content .content__right .wrapper {
    background: #ffffff;
    border-radius: 3px;
    padding: 1.5%;
    margin-bottom: 70px; }
  .content .content__right h2 {
    font-size: 20px;
    color: #5b5b5b;
    margin-bottom: 25px; }

.content__lside {
  width: 43%;
  margin-right: 2%;
  float: left; }
  @media (max-width: 990px) {
    .content__lside {
      width: 100%;
      text-align: center;
      margin-right: 0; } }

.content__rside {
  width: 53%;
  margin-left: 2%;
  float: left; }
  @media (max-width: 990px) {
    .content__rside {
      width: 100%;
      margin-right: 0; } }
  .content__rside input[type="text"] {
    width: 90%;
    height: 40px;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px; }
  .content__rside input[type="submit"] {
    display: inline-block;
    width: 155px;
    height: 45px;
    font-size: 0.813rem;
    font-weight: bold;
    color: #ffffff;
    background: #e63624;
    border: none;
    border-radius: 3px;
    margin-top: 10px; }
  .content__rside select {
    width: 90%;
    height: 40px;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px; }

.col33 {
  width: 30%;
  margin-right: 1%;
  float: left; }
  @media (max-width: 530px) {
    .col33 {
      width: 100%;
      margin-right: 0; } }

.col25 {
  width: 23%;
  margin-right: 2%;
  float: left; }

.col50 {
  width: 50%;
  float: left; }

.col60 {
  width: 60%;
  float: left; }

.col40 {
  width: 40%;
  float: left; }

.hp-form input[type="text"] {
  display: inline-block;
  width: 215px;
  height: 55px;
  background: #ffffff url("../img/form-calendar.png") 100% 50% no-repeat; }
.hp-form input[type="submit"] {
  display: inline-block;
  width: 155px;
  height: 55px;
  font-size: 0.813rem;
  font-weight: bold;
  color: #ffffff;
  background: #e63624 url("../img/hp-form-send-bg.png") 90% 50% no-repeat;
  border: none;
  border-radius: 3px; }

.hp-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 135px;
  background: rgba(230, 72, 57, 0.9); }
  @media (max-width: 1195px) {
    .hp-info {
      position: static; } }
  @media (max-height: 680px) {
    .hp-info {
      position: static; } }
  .hp-info .inner-wrapper {
    width: 100%;
    max-width: 1490px;
    margin: auto; }

.hp-info_column {
  width: 30%;
  color: #ffffff;
  margin: 0 1.6%;
  float: left; }
  @media (max-width: 1190px) {
    .hp-info_column {
      width: 80%;
      text-align: center;
      margin: 0 10%; } }
  .hp-info_column h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px; }
  .hp-info_column p {
    font-size: 1rem;
    line-height: 102%; }
  .hp-info_column:nth-child(1):before {
    content: "";
    display: block;
    width: 69px;
    height: 135px;
    background: url("../img/hp-info-online.png") 50% 50% no-repeat;
    margin-right: 5%;
    float: left; }
  .hp-info_column:nth-child(2):before {
    content: "";
    display: block;
    width: 69px;
    height: 135px;
    background: url("../img/hp-info-servis.png") 50% 50% no-repeat;
    margin-right: 5%;
    float: left; }
  .hp-info_column:nth-child(3):before {
    content: "";
    display: block;
    width: 69px;
    height: 135px;
    background: url("../img/hp-info-help.png") 50% 50% no-repeat;
    margin-right: 5%;
    float: left; }
  @media (max-width: 1190px) {
    .hp-info_column:before {
      width: 100% !important;
      margin-top: 20px; } }

.sidemenu {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0; }
  @media (max-width: 1395px) {
    .sidemenu {
      background: #ffffff; } }
  @media (max-width: 580px) {
    .sidemenu {
      text-align: center; } }
  .sidemenu li {
    display: block;
    background: #ffffff url("../img/sidemenu-arrow.png") 95% 50% no-repeat;
    transition: 200ms; }
    .sidemenu li:hover {
      background: #f7f7f7 url("../img/sidemenu-arrow.png") 97% 50% no-repeat; }
    .sidemenu li:first-child {
      font-weight: bold;
      color: #ffffff;
      background: #1c64a3;
      background-image: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 15px 5%; }
    .sidemenu li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #5b5b5b;
      padding: 15px 5%; }
    @media (max-width: 1395px) {
      .sidemenu li {
        display: inline-block;
        background-image: none;
        border-right: 1px solid #cccccc;
        padding: 0 5px; }
        .sidemenu li:hover {
          background-image: none; }
        .sidemenu li:first-child {
          display: block; } }
    @media (max-width: 580px) {
      .sidemenu li {
        border: none;
        padding: 0; } }
  .sidemenu .highlight {
    font-weight: bold;
    border-bottom: 1px solid #e63624; }

.products__item {
  width: 25%;
  text-align: center;
  float: left; }
  @media (max-width: 800px) {
    .products__item {
      width: 48%;
      margin: 0 1%; } }
  @media (max-width: 470px) {
    .products__item {
      width: 95%;
      margin: 0 2.5%; } }
  .products__item .img {
    position: relative;
    max-height: 350px;
    text-align: center;
    margin-bottom: 15px; }
    .products__item .img img {
      width: auto;
      height: auto;
      max-height: 350px; }
  .products__item h4 {
    font-size: 20px;
    color: #434546; }
  .products__item p {
    font-size: 0.875rem;
    color: #434546; }
  .products__item span {
    font-size: 1rem;
    color: #5b5b5b; }
  .products__item .btn {
    display: block;
    width: 43%;
    font-size: 0.875rem;
    font-weight: bold;
    color: #ffffff;
    background: #e63624;
    transition: 200ms;
    border-radius: 5px;
    padding: 4% 1%;
    margin: 20px auto; }
    .products__item .btn:hover {
      background: #95c21d; }
  .products__item .btn--chosen {
    background: #95c21d; }
  .products__item .btn--reserved {
    font-size: 0.875rem;
    color: #909090;
    background: #212121; }
    .products__item .btn--reserved:hover {
      background: #212121; }

.products__item--slider {
  width: 85%; }

.model-info {
  font-size: 0.875rem;
  color: #5b5b5b;
  margin-top: 40px; }
  .model-info:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 60px;
    background: url("../img/icn-info.png") no-repeat;
    margin-top: 5px;
    margin-right: 25px;
    float: left; }

.delete-item {
  font-size: 1rem;
  font-weight: lighter;
  color: #9b9b9b;
  text-decoration: none;
  float: right; }
  @media (max-width: 530px) {
    .delete-item {
      float: left; } }
  .delete-item:hover {
    color: #9b9b9b;
    text-decoration: underline; }
  .delete-item:after {
    position: relative;
    top: 4px;
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url("../img/icn-cart-delete.png") no-repeat;
    margin-left: 7px; }

.pagination {
  position: relative;
  bottom: 70px;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  background: #1c64a3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 0;
  float: left; }
  .pagination span {
    position: absolute;
    right: 1%; }
    @media (max-width: 600px) {
      .pagination span {
        position: static;
        display: block;
        margin-top: 20px; } }
    .pagination span a {
      display: inline-block;
      font-size: 1rem;
      color: #ffffff;
      border-radius: 0;
      transition: 200ms; }
      .pagination span a:hover {
        background: #12446f; }
    .pagination span .active {
      color: #ffffff;
      background: #12446f; }
    .pagination span .next {
      font-size: 0.875rem;
      color: #ffffff;
      background: #2b2a2a; }

.order-form input[type="text"], .order-form textarea {
  border: 1px solid #e6e6e6; }
.order-form textarea {
  height: 328px; }
.order-form input[type="submit"] {
  display: inline-block;
  width: 155px;
  height: 45px;
  font-size: 0.813rem;
  font-weight: bold;
  color: #ffffff;
  background: #e63624;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  float: right; }

@media (max-width: 770px) {
  .order-form .col25 {
    width: 48%; } }
@media (max-width: 380px) {
  .order-form .col25 {
    width: 98%; } }
@media (max-width: 770px) {
  .order-form .col50 {
    width: 100%; } }

.completion p:first-child {
  width: 75%;
  font-size: 1rem;
  color: #5b5b5b; }
.completion h3 {
  font-size: 1.250rem;
  color: #434546;
  margin-top: 7px;
  margin-bottom: 0; }
.completion span {
  display: inline-block;
  margin-top: 12px; }
.completion .col60 img {
  border: 1px solid #cccccc;
  margin-right: 3%;
  float: left; }
.completion .col40 {
  text-align: right; }
@media (max-width: 810px) {
  .completion .col33 {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px; } }
@media (max-width: 810px) {
  .completion .col50 {
    width: 100%; } }
@media (max-width: 440px) {
  .completion .col50 .col60 {
    width: 100%;
    text-align: center; } }
@media (max-width: 440px) {
  .completion .col50 .col40 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px; } }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

img {
  max-width: 100%;
  height: auto; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  color: #ffffff;
  border-color: #e63624;
  background: #e63624; }

/*# sourceMappingURL=css.css.map */
