.completion {
	p:first-child {
		width: 75%;
		font-size: 1rem;
		color: #5b5b5b;
	}

	h3 {
		font-size: 1.250rem;
		color: #434546;
		margin-top: 7px;
		margin-bottom: 0;
	}

	span {
		display: inline-block;
		margin-top: 12px;
	}

	.col60 {
		img {
			border: 1px solid #cccccc;
			margin-right: 3%;
			float: left;
		}
	}

	.col40 {
		text-align: right;
	}

	.col33 {
		@media (max-width: 810px) {
			width: 100%;
			border-bottom: 1px solid #cccccc;
			margin-bottom: 40px;
		}
	}

	.col50 {
		@media (max-width: 810px) {
			width: 100%;
		}

		.col60 {
			@media (max-width: 440px) {
				width: 100%;
				text-align: center;
			}
		}

		.col40 {
			@media (max-width: 440px) {
				width: 100%;
				text-align: center;
				border-bottom: 1px solid #cccccc;
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
		}
	}
}