.content {
	width: 100%;
	max-width: 1712px;
	margin: auto;

	@media (max-width: 1712px) {
		padding: 0 2%;
	}
}

.content {
	.content__left {
		width: 18%;
		margin-right: 1.5%;
		float: left;

		@media (max-width: 1395px) {
			width: 100%;
			margin-right: 0;
		}
	}

	.content__right {
		width: 80.5%;
		float: right;

		@media (max-width: 1395px) {
			width: 100%;
		}

		.wrapper {
			background: #ffffff;
			border-radius: 3px;
			padding: 1.5%;
			margin-bottom: 70px;
		}

		h2 {
			font-size: 20px;
			color: #5b5b5b;
			margin-bottom: 25px;
		}
	}
}

.content__lside {
	width: 43%;
	margin-right: 2%;
	float: left;

	@media (max-width: 990px) {
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
}

.content__rside {
	width: 53%;
	margin-left: 2%;
	float: left;

	@media (max-width: 990px) {
		width: 100%;
		margin-right: 0;
	}

	input[type="text"] {
		width: 90%;
		height: 40px;
		border: 1px solid #e6e6e6;
		margin-bottom: 10px;
	}

	input[type="submit"] {
		display: inline-block;
		width: 155px;
		height: 45px;
		font-size: 0.813rem;
		font-weight: bold;
		color: #ffffff;
		background: #e63624;
		border: none;
		border-radius: 3px;
		margin-top: 10px;
	}

	select {
		width: 90%;
		height: 40px;
		border: 1px solid #e6e6e6;
		margin-bottom: 10px;
	}
}

.col33 {
	width: 30%;
	margin-right: 1%;
	float: left;

	@media (max-width: 530px) {
		width: 100%;
		margin-right: 0;
	}
}

.col25 {
	width: 23%;
	margin-right: 2%;
	float: left;
}

.col50 {
	width: 50%;
	float: left;
}

.col60 {
	width: 60%;
	float: left;
}

.col40 {
	width: 40%;
	float: left;
}