header {
	width: 100%;
	background: #ffffff;

	.logo {
		margin-top: 35px;
		margin-right: 10%;
		float: left;

		@media (max-width: 1530px) {
			margin-right: 3%;
		}

		@media (max-width: 1445px) {
			width: 100%;
			text-align: center;
		}

		p {
			position: relative;
			bottom: 7px;
			font-size: 0.875rem;
			display: inline-block;
			text-transform: uppercase;
			color: #a5a5a5;
		}
	}
}

header {
	.cart-dropdown {
		cursor: pointer;
		display: inline-block;
		width: 35px;
		height: 35px;
		font-size: 1.125rem;
		font-weight: bold;
		color: #ffffff;
		text-align: center;
		background: #e63624;
		border-radius: 50%;
		padding-top: 3px;
		margin-left: 25px;
		float: right;
	}

	.dropdown-pane {
		width: 590px !important;
		top: 110px !important;
		left: 117px !important;
		box-shadow: 5px 5px 5px #777777;
		border: none;
		margin: 0;
		padding: 0;

		@media (max-width: 1445px) {
			left: auto !important;
			right: 2%;
		}

		@media (max-width: 590px) {
			width: 90% !important;
			right: auto !important;
			left: 0 !important;
			margin: 0 5%;
		}

		h3 {
			width: 100%;
			font-size: 1rem;
			font-weight: bold;
			color: #ffffff;
			background: #1c64a3;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			padding: 2%;
			margin: 0;
		}

		.cart__content {
			position: relative;
			padding: 4%;

			&:before {
				content: "";
				position: absolute;
				left: 53%;
				top: -52px;
				display: block;
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
  				border-right: 7px solid transparent;
  				border-bottom: 7px solid #1c64a3;

  				@media (max-width: 620px) {
  					display: none;
  				}
			}

			h4 {
				font-size: 1.250rem;
				color: #434546;
				margin: 10px 0 0 0;
			}

			p {
				position: relative;
				bottom: 35px;
				font-size: 1rem;
				color: #434546;
				float: left;

				@media (max-width: 620px) {
					width: 100%;				}
			}

			span {
				font-size: 1rem;
				float: right;

				strong {
					font-size: 1.250rem;
				}

				@media (max-width: 620px) {
					width: 100%;
				}
			}

			a {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		.cart__content__item {
			position: relative;
			width: 100%;

			@media (max-width: 620px) {
				text-align: center;
			}
		}

		.cart__content__item__img {
			max-width: 70px;
			max-height: 70px;
			padding: 2px;
			margin-right: 1%;
			float: left;

			img {
				width: auto;
				height: auto;
			}

			@media (max-width: 620px) {
				width: 100%;
				text-align: center;
				float: none;
			}
		}

		.cart-total {
			font-size: 1rem;
			font-weight: bolder;
			color: #212121;
			border-top: 1px solid #e6e6e6;
			padding: 25px 4% 0 4%;

			@media (max-width: 620px) {
				text-align: center;
			}

			span {
				position: relative;
				bottom: 5px;
				float: right;

				@media (max-width: 620px) {
					display: inline-block;
					float: none;
				}
			}

			form {
				display: inline-block;
				float: right;
			}

			input[type="submit"] {
				position: relative;
				bottom: 10px;
				display: inline-block;
				font-size: 0.875rem;
				font-weight: bold;
				color: #ffffff;
				background: #e63624;
				transition: 200ms;
				border: none;
				border-radius: 5px;
				padding: 10px 4%;
				margin-left: 7%;
				float: right;
			}
		}
	}
}

header {
	.inner-wrapper {
		width: 100%;
		max-width: 1712px;
		margin: auto;

		@media (max-width: 1712px) {
			padding: 0 2%;
		}
	}
}

header {
	.contact {
		font-size: 0.813rem;
		text-align: center;
		color: #303030;
		background: url('../img/header-contact-bg.png') 100% 50% no-repeat;
		margin-top: 35px;
		float: right;

		@media (max-width: 1445px) {
			background-image: none;
			float: right;
		}

		@media (max-width: 1110px) {
			width: 100%;
			float: left;
		}

		p {
			text-transform: uppercase;
		}

		span {
			display: block;
			font-size: 1.125rem;
			text-transform: none;
			color: #303030;

			strong {
				font-size: 1rem;
				font-weight: bolder;
			}

			a {
				color: #303030;
			}
		}
	}
}