.hp-content {
	width: 100%;
	max-width: 655px;
	margin: 110px auto;
}

//Foundation tabs styles

.tabs {
	background: none;
	border: none;

	a {
		font-size: 1rem;
		color: #1c64a3;
	}
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"], .tabs-title > a[aria-selected="false"] {
	background: #ffffff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 3%;
}

.tabs-title > a[aria-selected="false"] {
	position: relative;
	top: 7px;
}

#panel1 {
	background: url(../img/hp-form-bg.png) 100% 100% no-repeat;
}