.hp-form {
	input[type="text"] {
		display: inline-block;
		width: 215px;
		height: 55px;
		background: #ffffff url('../img/form-calendar.png') 100% 50% no-repeat;
	}

	input[type="submit"] {
		display: inline-block;
		width: 155px;
		height: 55px;
		font-size: 0.813rem;
		font-weight: bold;
		color: #ffffff;
		background: #e63624 url('../img/hp-form-send-bg.png') 90% 50% no-repeat;
		border: none;
		border-radius: 3px;
	}
}