.hp-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 135px;
	background: rgba(230, 72, 57, .9);

	@media (max-width: 1195px) {
		position: static;
	}

	@media (max-height: 680px) {
		position: static;
	}

	.inner-wrapper {
		width: 100%;
		max-width: 1490px;
		margin: auto;
	}
}

.hp-info_column {
	width: 30%;
	color: #ffffff;
	margin: 0 1.6%;
	float: left;

	@media (max-width: 1190px) {
		width: 80%;
		text-align: center;
		margin: 0 10%;
	}

	h3 {
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		margin-top: 20px;
	}

	p {
		font-size: 1rem;
		line-height: 102%;
	}

	&:nth-child(1):before {
		content: "";
		display: block;
		width: 69px;
		height: 135px;
		background: url('../img/hp-info-online.png') 50% 50% no-repeat;
		margin-right: 5%;
		float: left;
	}

	&:nth-child(2):before {
		content: "";
		display: block;
		width: 69px;
		height: 135px;
		background: url('../img/hp-info-servis.png') 50% 50% no-repeat;
		margin-right: 5%;
		float: left;
	}

	&:nth-child(3):before {
		content: "";
		display: block;
		width: 69px;
		height: 135px;
		background: url('../img/hp-info-help.png') 50% 50% no-repeat;
		margin-right: 5%;
		float: left;
	}

	&:before {
		@media (max-width: 1190px) {
			width: 100% !important;
			margin-top: 20px;
		}
	}
}