.navigation {
	float: left;

	@media (max-width: 1445px) {
		float: left;
	}

	@media (max-width: 1110px) {
		width: 100%;
	}

	ul {
		display: block;
		height: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;

		@media (max-width: 1110px) {
			width: 90%;
			margin: 0 5%;
		}

		@media (max-width: 1050px) {
			width: 95%;
			text-align: center;
			margin: 0 2.5%;
		}

		@media (max-width: 820px) {
			width: 60%;
			margin: 0 20%;
		}

		li {
			display: inline-block;
			padding: 45px 20px;

			@media (max-width: 1445px) {
				padding: 10px 5px;
				margin-top: 25px;
			}

			@media (max-width: 1110px) {
				padding: 10px 2%;
				margin-top: 40px;
			}

			@media (max-width: 820px) {
				display: block;
				padding: 5px 0;
				margin-top: 10px;
			}

			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				color: #303030;
			}
		}

		.active {
			position: relative;
			font-weight: bolder;
			background: #1c64a3;

			a {
				color: #ffffff;
			}

			&:after {
				content: "";
				position: absolute;
				right: 45%;
				bottom: -7px;
				display: block;
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
  				border-right: 7px solid transparent;
  				border-top: 7px solid #1c64a3;
			}
		}

		.step-finished {
			a {
				color: rgba(48, 48, 48, .8);

				&:after {
				content: "";
				position: relative;
				top: 7px;
				left: 5px;
				display: inline-block;
				width: 27px;
				height: 27px;
				background: url('../img/step-finished.png') no-repeat;
				margin: 0 5px;
				}
			}
		}
	}
}