.order-form {
	input[type="text"], textarea {
		border: 1px solid #e6e6e6;
	}

	textarea {
		height: 328px;
	}

	input[type="submit"] {
		display: inline-block;
		width: 155px;
		height: 45px;
		font-size: 0.813rem;
		font-weight: bold;
		color: #ffffff;
		background: #e63624;
		border: none;
		border-radius: 3px;
		margin-top: 10px;
		float: right;
	}
}

.order-form {
	.col25 {
		@media (max-width: 770px) {
			width: 48%;
		}

		@media (max-width: 380px) {
			width: 98%;
		}
	}

	.col50 {
		@media (max-width: 770px) {
			width: 100%;
		}
	}
}