.pagination {
	position: relative;
	bottom: 70px;
	width: 100%;
	font-size: 1rem;
	text-align: center;
	color: #ffffff;
	background: #1c64a3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px 0;
	float: left;

	span {
		position: absolute;
		right: 1%;

		@media (max-width: 600px) {
			position: static;
			display: block;
			margin-top: 20px;
		}

		a {
			display: inline-block;
			font-size: 1rem;
			color: #ffffff;
			border-radius: 0;
			transition: 200ms;

			&:hover {
				background: #12446f;
			}
		}

		.active {
			color: #ffffff;
			background: #12446f;
		}

		.next {
			font-size: 0.875rem;
			color: #ffffff;
			background: #2b2a2a;
		}
	}
}