.products {
	
}

.products__item {
	width: 25%;
	text-align: center;
	float: left;

	@media (max-width: 800px) {
		width: 48%;
		margin: 0 1%;
	}

	@media (max-width: 470px) {
		width: 95%;
		margin: 0 2.5%;
	}

	.img {
		position: relative;
		max-height: 350px;
		text-align: center;
		margin-bottom: 15px;

		img {
			width: auto;
			height: auto;
			max-height: 350px;
		}
	}

	h4 {
		font-size: 20px;
		color: #434546;
	}

	p {
		font-size: 0.875rem;
		color: #434546;
	}

	span {
		font-size: 1rem;
		color: #5b5b5b;
	}

	.btn {
		display: block;
		width: 43%;
		font-size: 0.875rem;
		font-weight: bold;
		color: #ffffff;
		background: #e63624;
		transition: 200ms;
		border-radius: 5px;
		padding: 4% 1%;
		margin: 20px auto;

		&:hover {
			background: #95c21d;
		}
	}

	.btn--chosen {
		background: #95c21d;
	}

	.btn--reserved {
		font-size: 0.875rem;
		color: #909090;
		background: #212121;

		&:hover {
			background: #212121;
		}
	}
}

.products__item--slider {
	width: 85%;
}

.model-info {
	font-size: 0.875rem;
	color: #5b5b5b;
	margin-top: 40px;

	&:before {
		content: "";
		display: inline-block;
		width: 32px;
		height: 60px;
		background: url('../img/icn-info.png') no-repeat;
		margin-top: 5px;
		margin-right: 25px;
		float: left;
	}
}

.delete-item {
	font-size: 1rem;
	font-weight: lighter;
	color: #9b9b9b;
	text-decoration: none;
	float: right;

	@media (max-width: 530px) {
		float: left;
	}

	&:hover {
		color: #9b9b9b;
		text-decoration: underline;
	}

	&:after {
		position: relative;
		top: 4px;
		content: "";
		display: inline-block;
		width: 21px;
		height: 21px;
		background: url('../img/icn-cart-delete.png') no-repeat;
		margin-left: 7px;
	}
}