.sidemenu {
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px 0;

	@media (max-width: 1395px) {
		background: #ffffff;
	}

	@media (max-width: 580px) {
		text-align: center;
	}

	li {
		display: block;
		background: #ffffff url('../img/sidemenu-arrow.png') 95% 50% no-repeat;
		transition: 200ms;

		&:hover {
			background: #f7f7f7 url('../img/sidemenu-arrow.png') 97% 50% no-repeat;;
		}

		&:first-child {
			font-weight: bold;
			color: #ffffff;
			background: #1c64a3;
			background-image: none;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			padding: 15px 5%;
		}

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			color: #5b5b5b;
			padding: 15px 5%;
		}

		@media (max-width: 1395px) {
			display: inline-block;
			background-image: none;
			border-right: 1px solid #cccccc;
			padding: 0 5px;

			&:hover {
				background-image: none;
			}

			&:first-child {
				display: block;
			}
		}

		@media (max-width: 580px) {
			border: none;
			padding: 0
		}
	}

	.highlight {
		font-weight: bold;
		border-bottom: 1px solid #e63624;
	}
}