* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;;
	background: #eff0f1;
	padding: 0;
	margin: 0;
}

.breadcrumb {
	width: 100%;
	font-size: 0.813rem;
	margin: 25px 0 2% 25px;

	@media (max-width: 520px) {
		text-align: center;
	}

	a {
		color: #5b5b5b;
		text-decoration: underline;

		&:last-child {
			text-decoration: none;
		}

		&:after {
			content: ">";
			display: inline-block;
			font-size: 0.813rem;
			text-decoration: none;
			color: #222222;
			margin: 0 0.5%;
		}

		&:last-child:after {
			display: none;
		}
	}
}

.bxslider {
	position: relative;
}